@media screen and (max-width: 980px) {
	
/* Header Responsive styles
***************************************************************************/	
	#header-wrap {
		position:relative;		
		width:100%;
		height:100%;
	}
	#header-wrap .header {
        max-width: 980px;
		padding-right:2%; /* 20px */	
		width:98%; /* 960px */
		height:13%; /* 127px */
	}
	#header-wrap .header .logo {	
		width:21%; /* 205px */
		height:13%;
	}
	#header-wrap .header .logo img {
		width:100%;
		height:auto;
	}
	#header-wrap .header h1 {
		font-size:18px;
		margin:3.8% 0 0 2%;				
		width:48%; /* 450px */
	}
	#header-wrap .header p {		
		margin:4.5% 0 0 3%;				
		width:10.7%; /* 105px */
	}
	#header-wrap .header figure.top-links {
		margin:4% 0 0 0;				
		width:13%; /* 105px */
	}
	#header-wrap .header figure.top-links img {
		margin-right:5px;
		width:24%; /* 27px */
		height:auto; /* 27px */
	}	
	#header-wrap .header .menu {				
		width:78.2%; /* 700px */
	}
	#header-wrap .header .menu ul li a {
		font-size:13px;
		padding:5px 15px;
	}
		
/* PageWrap Responsive styles
***************************************************************************/	
	#page-wrap {
		position:relative;
		width:100%; /* 980px */
		height:auto;
	}
	
/* Banner Responsive styles
***************************************************************************/	
	#page-wrap #banner-wrap {
		width:100%; /* 980px */
		height:29.8%; /* 293px */
	}
	#page-wrap #banner-wrap .banner {
		background-size:100% 100%;
		padding-top:17.6%; /* 173px */
		width:68.6%; /* 673px */
		height:auto; /* 120px */
	}
	#page-wrap #banner-wrap .banner .featured-details {
		background-size:100% 100%;
		padding:3.7% 0 0 3.4%;
		width:96.5%; /* 650px */
		height:14%; /* 95px */
	}
	#banner-wrap .banner .featured-details .breadcrumbs {
		font-size:11px;
		margin:0 0 1.1% 0;	/* 8px */
		width:96.5%; /* 650px */
	}
	#banner-wrap .banner .featured-details h2 {
		font-size:22px;
		line-height:18px;
		margin:0 0 1.1% 0;	/* 8px */
	}
	#banner-wrap .banner .featured-details p {
		width:89.1%; /* 600px */
	}
	
	/* Inner Banner styles
***************************************************************************/
	#page-wrap #inner-banner-wrap {
		width:68.3%;  /* 670px */
		height:29.8%; /* 293px */
	}
	#page-wrap #inner-banner-wrap .inner-banner {
		background-size:100% 100%;
		padding:34.4% 2.9% 0 0; /* 231px 20px 0 0 */
		width:97%; /* 650px */
		height:9.2%; /* 62px */
  	}	
	#inner-banner-wrap .inner-banner h1 {
		font-size:65px;
	}
	
/* Featured Sidebar Responsive styles
***************************************************************************/	
	#banner-wrap .featured-sidebar {
		width:31.3%; /* 307px */
		height:29.8%; /* 293px */
	}
	.featured-sidebar h3 {
		font-size:2vw;	/* 20px */
	}	
	.featured-sidebar .feature1 {
		background-size:100% auto;
		padding:13.1% 0 0 5.5%;
		width:94.4%; /* 290px */
		height:15.6%; /* 48px */
	}	
	.featured-sidebar .feature2 {
		background-size:100% auto;
		padding:13% 0 0 5.5%;
		width:94.4%; /* 290px */
		height:15%; /* 47px */
	}
	.featured-sidebar .feature3 {
		background-size:100% auto;
		padding:13.1% 0 0 5.5%;
		width:94.4%; /* 290px */
		height:15.6%; /* 48px */
	}
	
/* Content Area Responsive styles
***************************************************************************/	
	#content-area {
		padding:2% 0 2% 0.5%;
		width:68.1%; /* 668px */
	}
	#content-area .all-disaster-service {
		background-size:100% auto;
		padding-left:0.7%;
		width:95.2%; /* 641px */
		height:4.4%;
	}
	#content-area .all-disaster-service h3 {
		font-size:1.4vw;
		margin:0.7% 0 0 1.4%;
	}	
	#content-area .all-disaster-service .view-more {
		margin:0.6% 0.7% 0 0;
	}
	#content-area .all-disaster-service .view-more a {
		padding:1px 8px;
	}
	#content-area .content {
		margin:1.7% 0 2.5% 0.5%;
		width:100%; /* 668px */
	}
	#content-area .content img {
		margin:0 1.4% 0 0;
		width:30%; /* 203px */
		height:auto; /* 152px */
	}	
	#content-area .content h3 {
		font-size:12px;
		line-height:14px;
		margin:0 0 0.7% 0;
	}
	#content-area .content p {
		float:right;
		padding-right:5px;
		width:67%; /* 650px */
	}
	#content-area .bottom-content {
		background-size:96% auto;		
		margin:0 0 5.2% 0;
		width:100%; /* 668px */	
	}
	#content-area .bottom-content .bottom-section {
		margin-right:2.2%;
		width:30.5%; /* 204px */
	}
	#content-area .bottom-content .bottom-section h3 {
		float:left;
		padding:0 0 0 1.4%;
		font-size:12px; /* 14px */
		margin:3% 0 9.8% 0;
		width:auto;
	}
	#content-area .bottom-content .bottom-section img {
		margin:0 0 4% 0;
		width:100%;
		height:auto;
	}
	#content-area .bottom-content .bottom-section h4 {
		font-size:1.4vw;
		line-height:14px;	
	}
	#content-area .bottom-content .bottom-section .location-info {	
		font-size:1.4vw; /* 13px */
	}	
	.bottom-content .bottom-section .location-info .bold {	
		font-size:1.4vw; /* 12px */
	}		
	#content-area .gallery {	
		width:100%; /* 668px */	
		height:auto;
	}
	#content-area .gallery .view-gallery {		
		margin:0 0.7% 2.9% 0;
		padding:1.4% 2.9% 1.4% 1.4%;
		width:34.4%; /* 230px */
		height:8.2%;
	}
	#content-area .gallery .view-gallery h4 {
		font-size:1.4vw;
	}	
	#content-area .gallery .view-gallery p {
		line-height:12px;
	}
	#content-area .gallery .images {
		width:59%; /* 395px */
		height:9.7%; /* 65px */
	}
	#content-area .gallery .images img {
		margin:0 0.7% 0 0.7%;
		width:21.7%; /* 86px */
		height:auto; /* 65px */
	}
	
/*	Inner Content Responsive styles
***************************************************************************/
#content-area .inner-content {
	margin:2.5% 0 3.7% 0.7%;	
	width:94.3%; /* 640px */
	height:auto;
}
#content-area .inner-content p {
	float:left;	
	width:100%; /* 640px */
}
#content-area .inner-content .left-content {
	margin:1.2% 0 2.3% 0;
	width:56%; /*360px*/
}
#content-area .inner-content img {
	margin:1.2% 0 0 0;
	width:40.4%; /* 240px */
	height:auto;
}
.inner-content .inner-para {
	width:100%; /* 640px */
}
.inner-para img {
	margin:0 1% 0 0 !important;
	width:31.7% !important;; /* 203px */
	height:auto !important;
}
.inner-para .alignright {
	width:65.3% !important; /* 415px */
}
#content-area .inner-bottom-content {
	padding:2.9% 0 6.6% 0;
	width:98.3%; /* 662px */
}	
#content-area .inner-bottom-content .list-item {
	margin:0 2.3% 0 3.7%;
	width:26.4%; /* 177px */
}
#content-area .inner-bottom-content .list-item img {
	width:100%;
	height:auto;
}
#content-area .inner-bottom-content .list-item ul li h3 {
	font-size:11px;
	line-height:12px;
}
	
/* Sidebar Responsive styles
***************************************************************************/	
	.sidebar {
		padding:20px 0 0 0;
		width:31.1%; /* 305px */
		height:auto;
	}
	.sidebar .search-textfield {
		font-size:11px;
		margin-left:8%; /* 25px */	
		padding:1.6%; /* 5px */
		width:78%; /* 240px */
	}
	.sidebar .current-events {
		margin:6.5% 0 0 0;
		padding:6.5% 0 0 8.1%;
		width:91%; /* 280px */
	}	
	.sidebar .current-events .event-button {
		margin:0 1.6% 5% 0;
	}	
	.sidebar .current-events .event-button a {		
		padding:3px 3px;
	}	
	.sidebar .events {
		font-size:12px;
		margin:6.5% 0 0 0;	
		padding-bottom:3.2%;
		width:98%; /* 252px */
	}
	.sidebar .events img {
		margin-right:3.9%;
		width:13.8%; /* 252px */
		height:auto; /* 35px */
	}
	.sidebar .events1 {
		font-size:12px;
		margin:6.5% 0 0 0;	
		padding-bottom:3.2%;	
		padding-bottom:10px;
		width:98%; /* 252px */
	}
	.sidebar .events1 img {
		margin-right:3.9%;
		width:13.8%; /* 252px */
		height:auto; /* 35px */
	}
	.sidebar .blog {
		background-size:100% auto;	
		margin:1.6% 0 0 3.2%;
		padding:4% 0 0 5.4%;
		width:89%; /* 274px */
		height:16.2%; /* 40px */
	}
	.sidebar .blog h4 {	
		font-size:13px;	
	}
	.sidebar .recent-blog {		
		margin:3.2% 0 0 0;
		padding-left:11.4%;
		width:85.2%; /* 260px */
	}
	.sidebar .recent-blog p {
		font-size:11px;
		margin:0 0 7.6% 0;
		padding:1.9%;
	}
	
/*	Inner Sidebar Responsive styles
***************************************************************************/
	.sidebar .photo-gallery {
		margin:0 0 0 8.1%;
		padding:0 0 26.2% 0;
		width:84.5%; /* 258px */
	}	
	.sidebar .photo-gallery img {
		width:22%; /* 60px */
		height:auto;
	}
	
/* Footer Responsive styles
***************************************************************************/	
	#footer-wrap {
		background-repeat:repeat-y;
		background-size:1% auto;
		width:100%;
		height:100%;
	}
	#footer-wrap .footer {
		padding-top:2.3%;	
		margin:0 auto;
		width:96%; /* 980px */
	}
	#footer-wrap .footer .text-widget {	
		width:31.6%; /* 310px */
	}
	#footer-wrap .footer .text-widget h4 {
		background-size:100% auto;
		font-size:1.4vw;
		font-weight:bold;
		padding:1.9% 0 1.9% 4.8%;
		height:9.6%;
	}
	#footer-wrap .footer .text-widget p {
		font-size:10px;
		line-height:12px;
		width:90%; /* 275px */	
	}
	#footer-wrap .footer .where-to-find-us {
		margin:0 0 0 3%;
		width:31.6%; /* 310px */	
	}
	#footer-wrap .footer .where-to-find-us h4 {
		background-size:100% auto;
		font-size:1.4vw;
		font-weight:bold;		
		margin:0 0 12px 0;
		padding:1.9% 0 1.9% 4.8%;
		height:9.6%;
	}
	#footer-wrap .footer .where-to-find-us iframe {
		margin:0 0 0 1.2%;
		width:100%; /* 284px */
		height:auto; /* 189px */
		overflow:hidden;
	}
	#footer-wrap .footer .copyright {	
		margin:4.8% 0 0 0;
		width:95.9%; /* 940px */
	}
														
}

@media screen and (max-width: 768px) {
	
/* Header Responsive styles
***************************************************************************/	
	#header-wrap .header {
        max-width: 768px;
		padding-right:2%; /* 20px */	
		width:98%; /* 960px */
		height:16.5%; /* 127px */
	}
	#header-wrap .header .logo {	
		width:26.6%; /* 205px */
		height:16.5%; /* 127px */
	}
	#header-wrap .header .logo img {
		width:100%;
		height:auto;
	}
	#header-wrap .header h1 {
		font-size:2.2vw;
		margin:3.8% 0 0 0%;				
		width:43%; /* 450px */
	}
	#header-wrap .header p {		
		margin:4.5% 0 0 2%;				
		width:13.4%; /* 105px */
	}
	#header-wrap .header figure.top-links {
		margin:4% 0 0 0;				
		width:14.1%; /* 105px */
	}
	#header-wrap .header figure.top-links img {
		margin-right:5px;
		width:25.7%; /* 27px */
		height:auto; /* 27px */
	}
	#header-wrap .header .menu {			
		width:72%; /* 700px */
	}
	#header-wrap .header .menu ul li a {
		font-size:1.8vw;
		padding:5px 15px;
	}		
}

@media screen and (max-width: 680px) {
	
/* Header Responsive styles
***************************************************************************/	
	#header-wrap .header {
        max-width: 680px;
		text-align:center;
		width:100%; /* 960px */
		height:auto; /* 127px */
	}
	#header-wrap .header .logo {
		margin:0 auto;	
		width:100%; /* 205px */
		height:16.5%; /* 127px */
	}
	#header-wrap .header .logo img {
		margin:0 auto;			
		width:30%;
		height:auto;
	}
	#header-wrap .header h1 {
		font-size:20px;
		margin:0 auto;				
		width:100%; /* 450px */
	}
	#header-wrap .header p {		
		margin:5px auto;				
		width:100%; /* 105px */
	}
	#header-wrap .header figure.top-links {
		margin:10px auto 5px auto;				
		width:100%; /* 105px */
	}
	#header-wrap .header figure.top-links img {
		margin-right:5px;
		width:3.9%; /* 27px */
		height:auto; /* 27px */
	}
	#header-wrap .header .menu {	
		margin:10px auto;				
		width:100%; /* 700px */
	}
	#header-wrap .header .menu li {
		margin:0 auto 2px auto;
		text-align:center;
		width:100%;		
	}
	#header-wrap .header .menu ul li a {
		background-color:#FFF;
		border-radius:5px;
		font-size:14px;	
		padding:5px 15px;
		text-decoration:none;
	}
	#header-wrap .header .menu ul li.active a,
	#header-wrap .header .menu ul li a:hover {	
		text-decoration:none;								
	}
	
/* PageWrap Responsive styles
***************************************************************************/	
	#page-wrap {
		margin:0 auto;
		position:relative;
		width:100%; /* 680px */
		height:auto;
	}
	
/* Banner Responsive styles
***************************************************************************/	
	#page-wrap #banner-wrap {
		margin:0 auto;		
		width:100%; /* 680px */
		height:43%; /* 293px */
	}
	#page-wrap #banner-wrap .banner {
		background-size:100% 100%;
		margin:0 auto;
		padding-top:22%; /* 173px */
		width:100%; /* 673px */
		height:20.5%; /* 120px */
	}
	#page-wrap #banner-wrap .banner .featured-details {
		background-size:100% auto;
		padding:3.6% 0 0 3.3%;
		width:100%; /* 650px */
		height:14%; /* 95px */
	}
	#banner-wrap .banner .featured-details p {
		width:98%; /* 600px */
	}
	#banner-wrap .featured-sidebar {
		display:none;
		width:100%; /* 307px */
		height:29.8%; /* 293px */
	}
	
/* Content Area Responsive styles
***************************************************************************/	
	#content-area .all-disaster-service .view-more {
		margin:0.3% 0.7% 0 0;
	}
	#content-area .all-disaster-service .view-more a {
		padding:0 8px;
	}
	#content-area .bottom-content .bottom-section h3 {
		float:left;
		padding:0 0 0 1.4%;
		font-size:10px;
		font-size:1.6vw; /* 14px */
		margin:1% 0 9.8% 0;
		width:105%;
	}
	.bottom-content .bottom-section .location-info {
		width:99%;
	}	
	
/* Sidebar Responsive styles
***************************************************************************/	
	.sidebar .recent-blog {		
		margin:3.2% 0 0 0;
		padding-left:11.4%;
		width:85.2%; /* 260px */
	}
	.sidebar .recent-blog p {
		font-size:11px;
		margin:0 0 7.6% 0;
		padding:1.9%;
	}
/* Footer Responsive styles
***************************************************************************/	
	#footer-wrap .footer .text-widget {	
		margin:0 auto;
		text-align:center;
		width:100%; /* 310px */
	}
#footer-wrap .footer .text-widget h4 {
		background-size:100% auto;
		font-size:11px;
		font-weight:bold;
		margin:0 0 10px 0;		
		padding:0.5% 0 0.5% 4.8%;
		height:8%;
	}
	#footer-wrap .footer .text-widget p {
		font-size:10px;
		line-height:12px;
		margin:0 auto;
		width:90%; /* 275px */	
	}
	#footer-wrap .footer .where-to-find-us {
		margin:10px auto;
		text-align:center;		
		width:100%; /* 310px */	
	}
	#footer-wrap .footer .where-to-find-us h4 {
		background-size:100% auto;
		font-size:11px;
		font-weight:bold;		
		margin:0 0 15px 0;
		padding:0.5% 0 0.5% 4.8%;
		height:8%;
	}
	#footer-wrap .footer .where-to-find-us iframe {
		float:none;
		margin:0 auto;
		width:91.6%; /* 284px */
		height:60%; /* 189px */
		overflow:hidden;
	}
	#footer-wrap .footer .copyright {
		margin:0 auto;
		text-align:center;		
		width:100%; /* 940px */
	}
	#footer-wrap .footer .copyright p {
		margin:0 auto 10px auto;
		font-size:11px;
		text-align:center;
		width:250px;
	}
	#footer-wrap .footer .copyright p.alignright {
		float:none;
		font-size:11px;		
		margin:0 auto;
		padding-bottom:10px;
		text-align:center;
		width:250px;		
	}			

}

@media screen and (max-width: 480px) {
	
/* Header Responsive styles
***************************************************************************/	
	#header-wrap .header {
        max-width: 480px;
		text-align:center;
		width:100%; /* 480px */
		height:auto; /* 127px */
	}	
	#header-wrap .header figure.top-links img {
		margin-right:5px;
		width:5.6%; /* 27px */
		height:auto; /* 27px */
	}
/* Inner Banner styles
***************************************************************************/
	#page-wrap #inner-banner-wrap {
		width:100%;  /* 670px */
		height:29.8%; /* 293px */
	}
	#page-wrap #inner-banner-wrap .inner-banner {
		background-size:100% 100%;
		padding:34.4% 0 0 0; /* 231px 20px 0 0 */
		width:100%; /* 650px */
		height:9.2%; /* 62px */
  	}
  	#inner-banner-wrap .inner-banner h1 {
		font-size:48px;
		margin-right:10px;
	}	
	
/* Content Area Responsive styles
***************************************************************************/	
	#content-area {
		padding:4.1% 0 4.1% 0;
		width:100%; /* 480px */
		height:auto;
	}
	#content-area .all-disaster-service h3 {
		font-size:10px;
		margin:0.7% 0 0 1.4%;
	}
	#content-area .all-disaster-service {
		background-size:100% auto;
		/*margin:0 auto;*/
		padding-left:1%;
		width:95.2%; /* 641px */
		height:4.4%;
	}
	#content-area .content {
		margin:17px 0 10px 0;
		width:98%; /* 480px */
		height:auto;
	}
	#content-area .content img {
		float:none;
		margin:0 2% 0 0;
		width:42.2%; /* 480px */
		height:auto;
	}
	#content-area .content h3 {
		margin:5px 0 5px 0;
	}
	#content-area .content p {
		font-size:11px;
		width:98%;
	}
	#content-area .bottom-content {
		background-image:none;
		padding-left:1%;
		width:99%;	
	}
	#content-area .bottom-content .bottom-section {
		border:0px solid black;
		float:none;
		width:99%; /*29%*/
	}
	#content-area .bottom-content .bottom-section h3 {
		padding:0;
		font-size:10px; /* 14px */
		margin:1% 0 0.5% 0;	
		width:100%;
	}		
	#content-area .bottom-content .bottom-section img {
		width:42.5%; /* 204px */
		height:auto;
	}
	#content-area .bottom-content .bottom-section h4 {	
		font-size:10px;	
		line-height:12px;
	}
	.bottom-content .bottom-section .location-info {
		width:99%;
	}
	.bottom-content .bottom-section .location-info .bold {
		font-size:10px;
	}
	#content-area .gallery {
		margin-left:1%;
	}
	#content-area .gallery .view-gallery h4 {
		font-size:10px;
	}
	
	/*	Inner Content Responsive styles
	***************************************************************************/
	#content-area .inner-content {
		margin:2.5% 0;	
		width:99%; /* 640px */
		height:auto;
	}
	#content-area .inner-content p {
		float:left;
		padding-left:5px;	
		width:99%; /* 640px */
	}
	#content-area .inner-content .left-content {
		float:none;
		margin:10px 0;	
		width:99%; /*360px*/
	}
	#content-area .inner-content img {
		float:none;
		margin:5px 0 5px 5px;
		width:50%; /* 240px */
		height:auto;
	}
	.inner-content .inner-para {
		float:none;					
		margin:10px 0;	
		padding-left:5px;		
		width:99%; /* 640px */
	}
	.inner-para img {	
		margin:5px 0 10px 0 !important;
		text-align:center;		
		width:42% !important; /* 203px */
		height:auto !important;
	}
	.inner-para .alignright {
		float:none;			
		margin:0 0 !important;		
		width:100% !important; /* 415px */
	}
	#content-area .inner-bottom-content {
		margin-left:4px;
		padding:2.9% 0 6.6% 0;
		width:98.3%; /* 662px */
	}	
	#content-area .inner-bottom-content .list-item {
		margin:0 2.3% 0 3.7%;
		width:26.4%; /* 177px */
	}
	#content-area .inner-bottom-content .list-item img {
		width:100%;
		height:auto;
	}
	#content-area .inner-bottom-content .list-item ul li h3 {
		font-size:11px;
		line-height:12px;
	}	
	
/* Sidebar Responsive styles
***************************************************************************/	
	.sidebar {
		width:100%; /* 305px */
		height:auto;
	}
	.sidebar .search-textfield {
		font-size:13px;
		margin-left:8%;	
		padding:5px;
		width:50%;
	}
	.sidebar .events {
		margin:0 0 10px 0;
	}
	.sidebar .events1 {
		margin:0 0 10px 0;
	}
	.sidebar .blog {	
		margin:5px 0 0 8%;
		padding:3.3% 0 0 23px;		
		width:57%;
		height:40px;
	}
	.sidebar .blog h4 {	
		font-size:14px;	
		margin:0;
	}	
	.sidebar .recent-blog p {
		font-size:11px
	}
	
/*	Inner Sidebar Responsive styles
***************************************************************************/
	.sidebar .photo-gallery {
		margin:0 0 0 8.1%;
		padding:0 0 5% 0;
		width:84.5%; /* 258px */
	}	
	.sidebar .photo-gallery img {
		width:15%; /* 60px */
		height:auto;
	}
	
/* Footer Responsive styles
***************************************************************************/	
	#footer-wrap .footer .text-widget {	
		margin:0 auto;
		text-align:center;
		width:100%; /* 310px */
	}
	#footer-wrap .footer .text-widget h4 {
		background-size:100% auto;
		font-size:11px;
		font-weight:bold;
		margin:0 0 10px 0;		
		padding:0.5% 0 0.5% 4.8%;
		height:8%;
	}
	#footer-wrap .footer .text-widget p {
		font-size:10px;
		line-height:12px;
		margin:0 auto;
		width:90%; /* 275px */	
	}
	#footer-wrap .footer .where-to-find-us {
		margin:10px auto;
		text-align:center;		
		width:100%; /* 310px */	
	}
	#footer-wrap .footer .where-to-find-us h4 {
		background-size:100% auto;
		font-size:11px;
		font-weight:bold;		
		margin:0 0 15px 0;
		padding:0.5% 0 0.5% 4.8%;
		height:8%;
	}
	#footer-wrap .footer .where-to-find-us iframe {
		float:none;
		margin:0 auto;
		width:91.6%; /* 284px */
		height:60%; /* 189px */
		overflow:hidden;
	}
	#footer-wrap .footer .copyright {
		margin:0 auto;
		text-align:center;		
		width:100%; /* 940px */
	}
	#footer-wrap .footer .copyright p {
		margin:0 auto 10px auto;
		font-size:11px;
		text-align:center;
		width:250px;
	}
	#footer-wrap .footer .copyright p.alignright {
		float:none;
		font-size:11px;		
		margin:0 auto;
		padding-bottom:10px;
		text-align:center;
		width:250px;		
	}
}